<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <img class="image" mat-card-image src="./assets/gif/HoUt.gif" alt="welcom gif"> 
    </mat-card-header>

    <div *ngIf="authService.user | async">
        <mat-card-subtitle class="subtitle">
            {{(authService.user | async)?.displayName}} ,we glad you joined us!
        </mat-card-subtitle>
    </div>
<br>
<br>
    <mat-card-content>
        <mat-card-subtitle class="sub">
           Add yor todo task :
        </mat-card-subtitle>
        <mat-form-field class="example-container">
            <input  [(ngModel)] = "text" name = "text" matInput placeholder="Add todo item">
          </mat-form-field>
          <mat-card-actions class="todo-button">
              <button  mat-stroked-button color="primary" (click)="addTodo()">Add Todo</button>
          </mat-card-actions>   
    </mat-card-content>
    <br>
    <mat-card-content>
        
        <mat-card-subtitle class="sub2">
           Your current todo task :
        </mat-card-subtitle>
          <mat-checkbox class="checkbox"  *ngFor = "let todo of todos">
            {{ todo.text }} 
          </mat-checkbox>
          
          <div *ngIf = "todos.length=='0'" class="text"  >
              {{todoTextFromTodo}}
          </div> 
         
    </mat-card-content>
    



 
      
    

   
   
  